.main-visual {
    /* 上下の余白 */
    padding: 100px;
    padding-bottom: 100px;

    /* max-width: 950px; */
    width: 100%;
}
video{
    size: 20%;
    /* min-width: 90%; */
    min-width: 70%;
    min-height: 80%;
    /* min-height: 100%; */
    /* width: auto; */
    width: 30%;
    height: 30%;
    /* height: auto; */
    z-index: 1;
}
.map_movie {
	width:184px;
	height:184px;
	-webkit-border-radius:50%;
	border-radius:50%;
	border:3px solid #AAAAAA;
	margin:0 10px;
}
#product_name {
    position: relative;
    /* position: absolute; */
    color:rgb(0, 0, 58);

    font-size: 50px;
    font-weight: bold;
    text-shadow: 3px  3px 1px rgb(255, 239, 218),
                -3px  3px 1px rgb(255, 239, 218),
                3px -3px 1px rgb(255, 239, 218),
                -3px -3px 1px rgb(255, 239, 218);

}
#product_subname {
    position: relative;
    /* position: absolute; */
    color:rgb(0, 0, 58);

    font-size: 20px;
    font-weight: bold;
    text-shadow: 3px  3px 1px rgb(255, 239, 218),
                -3px  3px 1px rgb(255, 239, 218),
                3px -3px 1px rgb(255, 239, 218),
                -3px -3px 1px rgb(255, 239, 218);

}

#title_text{
    position: absolute;
    color:rgb(0, 0, 58);
    font-size: 64px;
    /* margin-bottom: 3px; */
    font-weight: bold;
    text-shadow: 3px  3px 1px rgb(255, 239, 218),
                -3px  3px 1px rgb(255, 239, 218),
                3px -3px 1px rgb(255, 239, 218),
                -3px -3px 1px rgb(255, 239, 218);
    /* position: fixed; */
    /* margin: 0 auto; */
    margin-top: 300px;
    margin-left: 7px;
    z-index: 2;
}
#title_sub_text {
    /* position: relative; */
    position: absolute;
    color:rgb(0, 0, 58);

    font-size: 32px;
    font-weight: bold;
    text-shadow: 3px  3px 1px rgb(255, 239, 218),
                -3px  3px 1px rgb(255, 239, 218),
                3px -3px 1px rgb(255, 239, 218),
                -3px -3px 1px rgb(255, 239, 218);
    /* position: fixed; */
    margin-top: 380px;
    margin-left: 50px;
    z-index: 2;

}

#title_sub_text {
    /* position: relative; */
    position: absolute;
    color:rgb(0, 0, 58);

    font-size: 32px;
    font-weight: bold;
    text-shadow: 3px  3px 1px rgb(255, 239, 218),
                -3px  3px 1px rgb(255, 239, 218),
                3px -3px 1px rgb(255, 239, 218),
                -3px -3px 1px rgb(255, 239, 218);
    /* position: fixed; */
    margin-top: 380px;
    margin-left: 50px;
    z-index: 2;

}
#title_detail_text {
    /* position: relative; */
    position: absolute;
    color:rgb(0, 0, 58);

    font-size: 20px;
    /* font-weight: bold; */
    text-shadow: 3px  3px 1px rgb(255, 239, 218),
                -3px  3px 1px rgb(255, 239, 218),
                3px -3px 1px rgb(255, 239, 218),
                -3px -3px 1px rgb(255, 239, 218);
    /* position: fixed; */
    margin-top: 425px;
    margin-left: 60px;
    z-index: 2;

}
