@charset "utf-8";

.contact {
    padding: 90px 0 60px;
    color: navy;
}

.contact-title {
    margin-bottom: 15px;
}
.contact-form h2 {
    color: rgb(0, 0, 58);
    border-bottom: solid 2px rgb(0, 0, 58);
}


.contact-form h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    color: rgb(0, 0, 58);
}

input, textarea {
    font-size: 15px;
    width: 400px;
    padding: 2px 4px;
}

.submit-button {
    margin-top: 20px;
    font-size: 18px;
    width: 80px;
}