@charset "utf-8";
.news {
    padding: 90px 10px 60px;
    /* width: 950px; */
    height: auto;
    margin-bottom: 15px;
}
.news_contain h2 {
    margin-top: 10px;
    border-bottom: dashed 2px rgb(0, 0, 58);
    color: rgb(0, 0, 58);
    font-weight: bold;
}

.news_contain p {
    border-bottom: dashed 1px rgb(0, 0, 58);
}

.car-background {
    display: flex;
    flex-wrap: wrap;
    /* width: 900px; */
}

.car-one-topic {
    margin-top: 35px;
    /* width: 30%; */
    /* width: 100%; */
    width: 33%;
}
.car-one-topic-inner {
    padding: 25px 30px;

    margin: 0 20px;
    
    background-color: darkgrey;
    border-radius: 7px;
    box-shadow: 1px 2px 10px silver;
    text-align: center;
}

.menu-image {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
}
.car-menu {
    background: whitesmoke;
    border-radius: 5px;
}
.menu-title {
    margin-bottom: 8px;
    border-bottom: 2px solid darkgrey;
}
.menu-text {
    font-size: 14px;
}