@charset "utf-8";

.tool-list {
    padding: 90px 10px 60px;
    height: auto;
    margin-bottom: 15px;
}

.tool-list h2 {
    margin-left: 5px;
    margin-bottom: 5px;
    border-bottom: dashed 2px rgb(0, 0, 58);
}
.tool-list p {
    margin: 10px;
    margin-left: 10px;
    border-bottom: dashed 1px rgb(0, 0, 58);
}